<section id="side-by-side" class="section-padding-vertical">
  <div class="container is-fullhd">
    <div class="columns">
      <div class="column has-background-grey">
        <article class="tile is-child box has-background-grey">
          <p class="title has-text-white-ter">
            <strong>Sexual Offences</strong>
          </p>
          <p class="subtitle has-text-white-ter">
            Being
            <strong>accused or suspected of committing a sexual crime</strong>
            can be extremely difficult to cope with.
          </p>
          <p><a class="button is-light">More info</a></p>
        </article>
      </div>
      <div class="column has-background-light">
        <article class="tile is-child box has-background-grey-light">
          <p class="title"><strong>Court Martial</strong></p>
          <p class="subtitle">
            An <strong>allegation whilst in the military</strong> can having
            damaging consequences.
          </p>
          <p><a class="button is-light">More info</a></p>
        </article>
      </div>
    </div>
  </div>
</section>
