<section class="section">
  <div class="container content">
      

There are a number of offences of assault under the Offences Against the Person Act 1861, the Criminal Justice Act 1988 and the Police Act1996.
<div id="quote" class="has-text-centered has-background-grey">
    <h2 class="has-text-white is-inline">Pragmatic, Probing and Proven</h2>
  </div>
The most common of these offences are as follows: 
<ul>
<li>Grievous Bodily Harm (GBH) - either section 18 which carries life imprisonment (with intent to do serious harm) or section 20 (which has a maximum of 5 years).</li>

<li>Assault occasioning actual bodily harm (ABH - again a maximum of 5 years).</li>

<li>Common Assault or Assault By Beating (Maximum 6 months).</li>

<li>Assaulting a Police Constable (Maximum 6 months).</li>
</ul>
<span class="has-text-weight-semibold">The definitions of these offences are outlined below.</span>
<h5>Section 18 GBH (with intent)</h5>

This is the most serious of the assaults under the Offences Against the Person Act and is an offence that can only be tried in the Crown Court. There are two offences created by this section, inflicting grievous bodily harm with intent and wounding with intent.

    “Grievous bodily harm” (GBH) means really serious harm. 
    For harm to amount to a “wound”, the continuity of the skin must be broken. 
    The biggest difference between GBH under this section and GBH under section 20 is the question of intent. For this offence, the prosecution must establish that the defendant intended to wound or cause serious injury..

<h5>Section 20 GBH</h5>

As explained above, this offence is the same as for the section 18 offence, however without the requirement of intent. This offence is sometimes referred to as wounding and the offence can be committed recklessly.
Section 47 ABH

There must be an assault or battery (See below) which causes some bodily harm. The injury does not need to be permanent but “must be more than merely transient or trifling”. Cuts, bruises or even psychological injury which amounts to a recognisable psychiatric illness can be classed as bodily harm.

<h5>Assault PC</h5>

Assault on a police constable in execution of his or her duty. The courts take this offence very seriously in our experience and defendants often face immediate custodial sentences.
Common Assault/Battery

An assault occurs where someone intentionally or recklessly causes another person to apprehend (or fear) immediate unlawful violence. A battery occurs where a person intentionally or recklessly applies unlawful force.

<h4>Defences</h4>

The most common defence for these offences is one of self defence. To rely on this defence, there must have been an imminent attack and any actions used in defence must be reasonable and proportionate. We will be able to advise you whether your actions amount to a defence of self defence or advise you if there are any other defences available to you.

    </div>
</section>
<section class="section">
  <div class="container content">
    <div id="quote" class="has-text-centered has-background-grey">
      <h2 class="has-text-white is-inline">Pragmatic, Probing and Proven</h2>
    </div>
    <h4>You have options</h4>
    Defences vary depending on the particular circumstances of a client's case
    and our specialist advice is necessary. However, we often argue that the
    standard of driving was in fact reasonable and did not fall below the
    requisite standard. Other defences include:
    <ul>
      <li>Automatism</li>
      <li>Mechanical defect in the vehicle</li>
      <li>Necessity</li>
      <li>Duress</li>
    </ul>
    Section 3 of the Road Traffic Act 1988 (as amended), provides that it is an
    offence for a person to drive a mechanically propelled vehicle on a road or
    persons using the road or public place “without due care and attention, or
    without reasonable consideration for other persons using the road or place”.
    <h4>If convicted of careless driving you face:</h4>
    <ul>
      <li>A fine of up to £5,000.00.</li>
      <li>3 - 9 penalty points or disqualification from driving.</li>
    </ul>
  </div>
</section>
