@import "~bulma/sass/utilities/initial-variables"
@charset "utf-8"

// Set your brand colors
$moonstone: #7ea8be;
$steel: #b4d4db;
$steel-light: #e0ebed;
$steel-dark: #91aeb6;
$off-white: #fbfbfb;
$secondary: #c9d9dc;
$dark-slate: #28536b;
$cadet-grey: #88a2aa;
$mint-grey: #cfe0dc;
$pastel-blue: #b3c6cc;
$lavender-grey: #c5cacc;
$khaki: #ac7c4c;
$khaki-light: #e5e1dc;
$rose-quartz: #a790a5;
$charcoal: #344055;
$green: #adbca5;
$yellow: #e5d352;
$red: #880d1e;
$goldenrod: #e5dda0;



// Update some of Bulma's component variables
$link: darken($cadet-grey, 25%);
$link-hover-border: $lavender-grey;
$primary: $lavender-grey;
$info: $moonstone;
$warning: $rose-quartz;
$danger: $red;
$grey-lighter: #F8F6F1;
$grey-light: $mint-grey;
$grey: $cadet-grey;
$grey-trans: darken(rgba( $grey-dark, .75 ), 20%);
$grey-dark: $charcoal;


$grey-lighter: $khaki-light;
$white-ter: $off-white;
$white-bis: darken(rgba( $off-white, 1 ), 7%);

$body-background-color: $white-ter
$navbar-background-color: $white-ter

$radius-small: 1px;
$radius: 2px;
$radius-large: 3px;



article.tile.is-child.box.is-shadowless
  background-color: rgba(23, 23, 23, 0.75)

.section-small
  padding: 1rem 1.5rem

nav.navbar .navbar-brand a.navbar-item figure.image img
  max-height: 5.75rem

#mainNavbar.navbar-menu .has-dropdown a.navbar-link
   &:after
     border-color: $grey

svg
  fill: $white-ter

#intro .icon.is-large
    height: 4rem
    width: 4rem


#intro.section
  box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1)

.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important


.hero .hero-body
  padding: 4rem 1.5rem


.hero-body .box
  padding-top: 5rem
  padding-bottom: 5rem
  background-color: $grey-trans

.section-padding-vertical
  padding-top: 3rem
  padding-bottom: 3rem

.box.no-shadow
  box-shadow: none

.iyd-footer-link-title
    color: $grey-dark
    font-size: 1.25rem
    font-weight: 600

.footer.section p.iyd-footer-link
    margin-bottom: .3rem
    text-align: left

.iyd-footer-star   
    transition-duration: 86ms
    transition-property: box-shadow,-webkit-transform
    transition-property: box-shadow,transform
    transition-property: box-shadow,transform,-webkit-transform
    will-change: box-shadow,transform
    background-color: #fff
    border-radius: 6px
    box-shadow: 0 1.5rem 1.5rem -1.25rem rgba(10,10,10,.05)
    display: block

.iyd-footer-star
  &:hover
    box-shadow: 0 3rem 3rem -1.25rem rgba(10,10,10,.1)
      -webkit-transform: translateY(-.5rem)
      transform: translateY(-.5rem)




section#intro.section
  font-weight: 600

@import "~bulma/bulma.sass"

#mainNavbar .not-dropdown
  &:hover
    background-color: #f2f2f2
    color: #0a0a0a

#mainNavbar.navbar-menu a.navbar-item
  align-self: stretch

.article-padded
  padding: 3rem 1rem
  +tablet
    padding: 4rem 3rem
  +desktop
    padding: 4rem 6rem

.content ul.services-list, ul.services-list
  margin-bottom: 2rem
  list-style-position: inside
  columns: 1
  list-style-image: url('../img/baseline-check_circle-24px-no-border.svg')
  +tablet
    columns: 3

.content ul.services-list li, ul.services-list li
  font-size: 1.1em
  font-weight: 600
  margin-bottom: 1em
  
#quote h2
  margin-bottom: 0
  font-size: 1.7rem
  font-weight: 800
  line-height: 1.125
  +tablet
    font-size: 2.0rem
  +desktop
    font-size: 2.2rem
  
#quote
    background: #88a2aa
    float: right
    max-width: 100%
    padding: 2rem 3rem
    clear: both
    box-shadow: 1rem 1rem gray
    margin-left: 0
    margin-bottom: 3rem
    +tablet
      margin-left: 2rem
      max-width: 500px
      padding: 4rem 6rem
      box-shadow: 1.5rem 1.5rem gray
    +desktop
      padding: 6rem 8rem
      box-shadow: 2rem 2rem gray

#quote.is-pulled-left
  box-shadow: -1rem 1rem gray
  +tablet
      margin-right: 2rem
      box-shadow: -1.5rem 1.5rem gray

    
section#intro article h1.title
  margin-bottom: 1.5rem 
  margin-top: 1rem

#call-to-action
    padding: 2rem 1rem
    margin-left: 0
    margin-bottom: 0rem
    +tablet
      padding: 2rem 3rem
    article
        padding: 3rem 3rem

.hero.hero-bottom .hero-body
  padding: 4rem 0rem

.icon.is-large img
  height: 100%