@import "~bulma/sass/utilities/initial-variables"
@charset "utf-8"
// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

// Set your brand colors
$turquoise: #8cb4b8
$turquoise-light: #97c8ce
$turquoise-dark: #7596a3
$purple: #8A4D76
$pink: #FA7C91
$brown: #757763
$beige-light: #D0D1CD
$beige-lighter: #EFF0EB

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif
$grey-dark: $brown
$grey-light: $beige-light
$primary: $turquoise
$secondary: $turquoise-light
$info: $turquoise-light

// Update some of Bulma's component variables
  
$body-background-color: $turquoise-dark
$navbar-background-color: $body-background-color
$control-border-width: 2px
$input-border-color: transparent
$input-shadow: none

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important


.hero .hero-body
  padding: 9rem 1.5rem


@import "~bulma/bulma.sass"