<section class="section">
    <div class="container content">
    <h3>Andrew Parker</h3>
    Andrew is the chairman and founder of In Your Defence Limited. His groundbreaking concept was our unique Fixed Fee approach to all our work on behalf of suspects and defendants. Unlike most firms, he did not want us to represent on a client account or Legal Aid basis. Many doubted that this transforming policy would work, but the volume of successful cases over recent years is proof that his nationwide vision for In Your Defence Ltd was correct.
    
    Andrew's great expertise is in&nbsp;ensuring our clients gain from our unique, proactive services at the investigation stage. He also actively oversees&nbsp;the cases until they are successfully concluded. He has decades of&nbsp;experience in dealing with all sorts of charges; from minor to major. He&nbsp;established Hedley-Saunders &amp; Co and then the very successful M23Law motoring law brand.&nbsp;For the last decade at Hedley-Saunders &amp;&nbsp;Co he was&nbsp;Head of Criminal Law and has a tremendous record on serious cases, such as the 29 murder or attempted murder matters.
    
    In Your Defence Ltd Solicitors are specialists in criminal law. We are experts in defending suspects and defendants of all ages and backgrounds. We defend the whole range of offences, from relatively minor cases to serious matters such as murder. &nbsp;
    
    Andrew&nbsp;also heads up our specialist operation&nbsp;teams,&nbsp;advising and representing&nbsp;clients throughout England &amp; Wales. Clients and potential clients journey from all points of the compass to consult and&nbsp;benefit from his extensive, insightful, approach.
    
    As company chairman, Andrew has wider responsibilities including being our CEO. He is actively involved in business project management as well as the day to day cases. He is approved by the Solicitors Regulation Authority as our compliance COFA officer.
    
    Andrew has taken a stated case to the European Court of Human Rights (R v Shannon [2001] &amp; Shannon v UK [2005]). Andrew has vast experience in acting for suspects, including&nbsp;those with&nbsp;conditions such as autism,&nbsp;ADHD, depression and other psychological issues.&nbsp;He has also been an advisor at The Law Society, helping solicitors with their problems and legal enquiries. He has acted for celebrities and less prominent individuals in difficulties with the police and all criminal courts in England and Wales.&nbsp;
    
    His interests include: Swimming, Literature, French and European history, the 'Great Outdoors' and supporting Chelsea Football Club. Andrew has also featured on&nbsp;television and in the media generally.
    <div id="quote" class="has-text-centered has-background-grey">
    <h2 class="has-text-white is-inline">Specialists At What We Do</h2>
    </div>
    <h3>Lauren Deacon</h3>
    Lauren joined our specialist Law Company at the beginning of May 2019 as a Solicitor Advocate in the defence team. Within a few weeks, the Board appointed her as the Solicitor Director.
    
    Prior to her employment with In Your Defence, Lauren conducted Legal Aid work. Lauren made the move to join our specialist Law Company after working tirelessly against cuts to Legal Aid. Working on the IYDL Agreed Fixed Fee Approach allows Lauren to work throughly for the client ensuring all avenues are explored effectively.
    
    Lauren now works closely with our chairman, Andrew Parker, in the initial consultations and supervises the general preparation of our cases across the criminal offence spectrum. She has good insights and experience from her intensive Duty Solicitor days at a previous Sussex firm.
    
    Lauren is able to conduct cases in all aspects of Criminal Law and regularly appears in Magistrates Court across England and Wales. In addition to her work at Court, Lauren has been appointed the company’s compliance COLP officer and works alongside Andrew on the day to day running of the business.
    
    Her interests include cooking, baking and country rambles.
    <div id="call-to-action">
    <article class="article-padded box has-background-grey">
    <p class="title has-text-white-ter">
                  <span class="has-text-weight-bold">Contact our specialist team of lawyers.</span>
    
    <p class="subtitle has-text-white-ter"><a class="button is-light" href="/contact/">Contact Us Now</a></p>
    
    </article></div>
    </div>
    </section>